* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  user-select: none;
}

section {
  padding: 0 2.4rem;
  position: relative;
  overflow-x: hidden;
}

@media screen and (min-width: 912px) {
  section {
    margin: auto;
    position: static;
    padding: 0 14vw;
  }
}
.navbar {
  display: none;
}

@media screen and (min-width: 912px) {
  .navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4.8rem 14vw;
  }
  .navbar__left {
    display: flex;
    width: 43rem;
    align-items: center;
    justify-content: space-between;
  }
}
.navbar__logo {
  position: relative;
  height: 3.3rem;
  width: 12rem;
}

.mobileNav {
  width: 100%;
  padding: 4rem 2.4rem 2.4rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}
.mobileNav__mobileBtn {
  display: flex;
  font-size: 4.4rem;
  color: #9e9aa8;
  z-index: 10;
}
.mobileNav__mobileBtn:hover {
  cursor: pointer;
}
.mobileNav__mobileMenu {
  width: 100%;
  height: fit-content;
  background-color: #3a3054;
  position: absolute;
  top: -100vh;
  left: 0;
  padding: 1rem 2.4rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  z-index: 10;
}

.show {
  top: 10rem;
}

@media screen and (min-width: 912px) {
  .mobileNav {
    display: none;
  }
}
.navLinks ul,
.userLinks ul {
  text-align: center;
  list-style: none;
}
.navLinks ul li,
.userLinks ul li {
  padding: 3rem 0;
}
.navLinks ul li a,
.userLinks ul li a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.navLinks ul li a:hover,
.userLinks ul li a:hover {
  cursor: pointer;
}

.userLinks .btn {
  font-size: 1.8rem;
}

.btn {
  padding: 0;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  margin-bottom: 3rem;
  background-color: #2bd0d0;
  height: 4.8rem;
  font-weight: 700;
  display: grid;
  place-items: center;
  border-radius: 2.8rem;
  -webkit-border-radius: 2.8rem;
  -moz-border-radius: 2.8rem;
  -ms-border-radius: 2.8rem;
  -o-border-radius: 2.8rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.btn:hover {
  filter: brightness(1.3);
  -webkit-filter: brightness(1.3);
}

@media screen and (min-width: 912px) {
  .navLinks ul {
    display: flex;
    width: 26.5rem;
    justify-content: space-between;
  }
  .navLinks ul li {
    padding: 0;
  }
  .navLinks ul li a {
    font-size: 1.5rem;
    color: #9e9aa8;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }
  .navLinks ul li a:hover {
    color: #34313d;
  }
  .userLinks ul {
    display: flex;
    align-items: center;
  }
  .userLinks ul li {
    padding: 0;
  }
  .userLinks ul li a {
    color: #9e9aa8;
    font-size: 1.5rem;
  }
  .userLinks ul li a:hover {
    color: #34313d;
  }
  .userLinks ul .btn {
    height: 4rem;
    margin: 0;
    width: 10.5rem;
    margin-left: 1.7vw;
  }
}
.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin-bottom: 16.8rem;
}
.hero__left {
  width: 100%;
  height: 50%;
  display: grid;
  place-items: center;
  text-align: center;
}
.hero__left h1 {
  font-size: 4.2rem;
  font-weight: 700;
  letter-spacing: -0.105rem;
  line-height: 4.8rem;
  margin-top: 3rem;
}
.hero__left p {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.012rem;
  font-weight: 500;
  margin: 1.5rem auto 3rem auto;
  text-align: center;
  color: #9e9aa8;
}
.hero__left .btn {
  width: 20rem;
}
.hero__right {
  position: absolute;
  height: 50%;
  width: 51.1rem;
  top: 0;
  right: -14rem;
}

@media screen and (min-width: 912px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 13.6rem);
    position: relative;
  }
  .hero__left {
    height: 100%;
    max-height: 35rem;
    width: 50%;
    max-width: 56.5rem;
    place-items: start;
  }
  .hero__left h1 {
    text-align: left;
    font-size: clamp(4.5rem, 5vw, 8rem);
    line-height: 9rem;
    letter-spacing: -0.2rem;
  }
  .hero__left p {
    text-align: left;
    font-size: clamp(1rem, 1.4vw, 2.2rem);
    line-height: 3.6rem;
    letter-spacing: 0.015rem;
  }
  .hero__left .btn {
    font-size: 2rem;
  }
  .hero__right {
    width: 60vw;
    max-width: 73.3rem;
    height: 63vh;
    max-height: 48.2rem;
    top: 50%;
    transform: translateY(-50%);
    right: -12rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}
.input {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  overflow: visible;
}
.input__entry {
  position: relative;
}
.input__entry form {
  position: absolute;
  top: -50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: calc(100% - 4.8rem);
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1.6rem;
  padding: 2.4rem;
  background-image: url("/assets/bg-shorten-mobile.svg");
  background-color: #3a3054;
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.input__entry form input {
  height: 5rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 3.6rem;
  letter-spacing: 0.012rem;
  padding: 1.6rem 0.6rem;
}
.input__entry form button {
  height: 5rem;
  width: 100%;
  background-color: #2bd0d0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border: 1px solid #9e9aa8;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #eff1f7;
}

@media screen and (min-width: 912px) {
  .input__entry form {
    display: flex;
    padding: 5.2rem 6.4rem;
    background-image: url("/assets/bg-shorten-desktop.svg");
    background-position: center;
  }
  .input__entry form input {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
  .input__entry form button {
    width: 18.8rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
}
