* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  position: relative;
  user-select: none;
}

section {
  padding: 0 2.4rem;
  position: relative;
  overflow-x: hidden;
}

@media screen and (min-width: 912px) {
  section {
    margin: auto;
    position: static;
    padding: 0 14vw;
  }
}
.navbar {
  display: none;
}

@media screen and (min-width: 912px) {
  .navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4.8rem 14vw;
  }
  .navbar__left {
    display: flex;
    width: 43rem;
    align-items: center;
    justify-content: space-between;
  }
}
.navbar__logo {
  position: relative;
  height: 3.3rem;
  width: 12rem;
}

.mobileNav {
  width: 100%;
  padding: 4rem 2.4rem 2.4rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}
.mobileNav__mobileBtn {
  display: flex;
  font-size: 4.4rem;
  color: #9e9aa8;
  z-index: 10;
}
.mobileNav__mobileBtn:hover {
  cursor: pointer;
}
.mobileNav__mobileMenu {
  width: 100%;
  height: fit-content;
  background-color: #3a3054;
  position: absolute;
  top: -100vh;
  left: 0;
  padding: 1rem 2.4rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  z-index: 10;
}

.show {
  top: 10rem;
}

@media screen and (min-width: 912px) {
  .mobileNav {
    display: none;
  }
}
.navLinks ul,
.userLinks ul {
  text-align: center;
  list-style: none;
}
.navLinks ul li,
.userLinks ul li {
  padding: 3rem 0;
}
.navLinks ul li a,
.userLinks ul li a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.navLinks ul li a:hover,
.userLinks ul li a:hover {
  cursor: pointer;
}

.userLinks .btn {
  font-size: 1.8rem;
}

.btn {
  padding: 0;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  margin-bottom: 3rem;
  background-color: #2bd0d0;
  height: 4.8rem;
  font-weight: 700;
  display: grid;
  place-items: center;
  border-radius: 2.8rem;
  -webkit-border-radius: 2.8rem;
  -moz-border-radius: 2.8rem;
  -ms-border-radius: 2.8rem;
  -o-border-radius: 2.8rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.btn:hover {
  filter: brightness(1.3);
  -webkit-filter: brightness(1.3);
}

.btnInput {
  height: 5rem;
  width: 100%;
  background-color: #2bd0d0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border: 1px solid #9e9aa8;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #eff1f7;
  cursor: pointer;
  user-select: none;
  text-transform: capitalize;
}
.btnInput:hover {
  background-color: #9ae3e3;
}

@media screen and (min-width: 912px) {
  .navLinks ul {
    display: flex;
    width: 26.5rem;
    justify-content: space-between;
  }
  .navLinks ul li {
    padding: 0;
  }
  .navLinks ul li a {
    font-size: 1.5rem;
    color: #9e9aa8;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }
  .navLinks ul li a:hover {
    color: #34313d;
  }
  .userLinks ul {
    display: flex;
    align-items: center;
  }
  .userLinks ul li {
    padding: 0;
  }
  .userLinks ul li a {
    color: #9e9aa8;
    font-size: 1.5rem;
  }
  .userLinks ul li a:hover {
    color: #34313d;
  }
  .userLinks ul .btn {
    height: 4rem;
    margin: 0;
    width: 10.5rem;
    margin-left: 1.7vw;
  }
  .btnInput {
    width: 18.8rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-size: 2rem;
    line-height: 3rem;
  }
}
.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin-bottom: 8.8rem;
}
.hero__left {
  width: 100%;
  height: 52%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.hero__left h1 {
  font-size: 4.2rem;
  font-weight: 700;
  letter-spacing: -0.105rem;
  line-height: 4.8rem;
  margin-top: 3rem;
}
.hero__left p {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.012rem;
  font-weight: 500;
  margin: 1.5rem auto 3rem auto;
  text-align: center;
  color: #9e9aa8;
}
.hero__left .btn {
  width: 20rem;
}
.hero__right {
  position: absolute;
  height: 50%;
  width: 51.1rem;
  top: 0;
  right: -14rem;
}

@media screen and (min-width: 612px) {
  .hero__left {
    height: 40%;
  }
  .hero__right {
    height: 60%;
    width: 75rem;
  }
}
@media screen and (min-width: 912px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    position: relative;
  }
  .hero__left {
    height: 100%;
    max-height: 35rem;
    width: 50%;
    max-width: 56.5rem;
    place-items: flex-start;
  }
  .hero__left h1 {
    text-align: left;
    font-size: clamp(4.5rem, 5vw, 8rem);
    line-height: 9rem;
    letter-spacing: -0.2rem;
    color: #34313d;
  }
  .hero__left p {
    text-align: left;
    font-size: clamp(1rem, 1.4vw, 2.2rem);
    line-height: 3.6rem;
    letter-spacing: 0.015rem;
  }
  .hero__left .btn {
    font-size: 2rem;
    min-height: 5.6rem;
  }
  .hero__right {
    width: 60vw;
    max-width: 73.3rem;
    height: 50vh;
    max-height: 48.2rem;
    top: 50%;
    transform: translateY(-50%);
    right: -12rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}
.input {
  width: 100%;
  height: fit-content;
  min-height: 12rem;
  background-color: #eff1f7;
  overflow: visible;
}
.input__entry {
  position: relative;
}
.input__entry form {
  top: -50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1.6rem;
  padding: 2.4rem;
  background-image: url("/assets/bg-shorten-mobile.svg");
  background-color: #3a3054;
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.input__entry form input {
  height: 5rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 3.6rem;
  letter-spacing: 0.012rem;
  padding: 1.6rem 0.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.input__entry form .btnInput {
  display: grid;
  place-items: center;
}
.input .error {
  border: 3px solid #f46262;
  position: relative;
}
.input .error__text {
  color: #f46262;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.8rem;
  letter-spacing: 0.011rem;
  justify-self: flex-start;
  margin-top: -1rem;
  display: none;
}
.input .show {
  display: flex;
}
.input__links {
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: grid;
  height: fit-content;
  gap: 2.4rem;
}
.input__links .btn {
  background-color: #f46262;
  font-size: 1.2rem;
}
.input__links--savedLink {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  color: black;
  font-size: 2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  overflow: hidden;
}
.input__links--savedLink--url, .input__links--savedLink--right {
  padding: 0.6rem 1.6rem;
}
.input__links--savedLink--url {
  color: #3a3054;
  display: flex;
  justify-content: space-between;
}
.input__links--savedLink--url-text {
  display: inline-block;
  font-size: 1.6rem;
  color: #3a3054;
  line-height: 3.6rem;
  letter-spacing: 0.012rem;
  width: 70%;
  overflow: auto;
}
.input__links--savedLink--url button {
  margin-left: 1rem;
}
.input__links--savedLink--right {
  border-top: 1px solid rgba(158, 154, 168, 0.25);
}
.input__links--savedLink--right .btnInput {
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.input__links--savedLink, .input__links--savedLink--right a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.6rem;
  letter-spacing: 0.012rem;
}
.input__links--savedLink--right a:first-child {
  color: #2bd0d0;
  text-decoration: none;
}

.clicked {
  background-color: #3a3054 !important;
}

@media screen and (min-width: 912px) {
  .input__entry {
    margin: auto;
  }
  .input__entry form {
    display: flex;
    padding: 5.2rem 6.4rem;
    background-image: url("/assets/bg-shorten-desktop.svg");
    background-position: center;
    background-size: cover;
  }
  .input__entry form input {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
  .input__links .btn {
    width: 25%;
    margin: auto;
  }
  .input__links--savedLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input__links--savedLink--url {
    justify-content: flex-start;
    width: 50%;
  }
  .input__links--savedLink--url-text {
    display: inline-block;
  }
  .input__links--savedLink--url button {
    margin-left: 1rem;
  }
  .input__links--savedLink--right {
    display: flex;
    border-top: none;
    justify-content: space-between;
  }
  .input__links--savedLink--right-link {
    display: grid;
    place-items: center;
  }
  .input__links--savedLink--right .btnInput {
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-left: 2.4rem;
  }
  .input__links--savedLink, .input__links--savedLink--right {
    font-size: 2rem;
    letter-spacing: 0.015rem;
    position: relative;
  }
  .error__text {
    font-size: 1.6rem;
    position: absolute;
    bottom: 20%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
  }
}
.deleteThis {
  color: #f46262;
  background: none;
  border: none;
  font-size: 1.2rem;
}
.deleteThis:hover {
  cursor: pointer;
  text-decoration: underline;
}

.statistics {
  background-color: #eff1f7;
  padding-top: 8rem;
  text-align: center;
  display: grid;
  place-items: center;
}
.statistics__header {
  display: grid;
  place-items: center;
  padding-bottom: 4.8rem;
}
.statistics__header h2 {
  text-transform: capitalize;
  font-size: 2.8rem;
  line-height: 4.8rem;
  letter-spacing: -0.07rem;
  color: #34313d;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.statistics__header p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0.011rem;
  color: #9e9aa8;
}
.statistics__list {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 9rem;
  margin-bottom: 8rem;
}
.statistics__list::after {
  content: "";
  width: 0.8rem;
  height: 100%;
  background-color: #2bd0d0;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
}
.statistics__card {
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 35rem;
  max-height: 31.1rem;
  height: fit-content;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
  padding: 7.7rem 3.2rem 4.1rem 3.2rem;
}
.statistics__card span {
  background-color: #3a3054;
  width: fit-content;
  padding: 2.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.statistics__card h3 {
  font-size: clamp(1.2rem, 1.4vw, 2.2rem);
  line-height: 3.3rem;
  font-weight: 700;
  color: #34313d;
  text-transform: capitalize;
}
.statistics__card p {
  font-size: clamp(0.8rem, 1vw, 1.5rem);
  line-height: 2.6rem;
  color: #9e9aa8;
}

@media screen and (min-width: 912px) {
  .statistics {
    padding-bottom: 12rem;
  }
  .statistics__header {
    margin-bottom: 5.6rem;
    max-width: 54rem;
  }
  .statistics__header h2 {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: -0.1rem;
    margin-bottom: 1.8rem;
  }
  .statistics__header p {
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: -0.012rem;
  }
  .statistics__list {
    position: relative;
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
  .statistics__list::after {
    content: "";
    width: 100%;
    height: 0.8rem;
    background-color: #2bd0d0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
  }
  .statistics__card {
    text-align: left;
    max-width: 32.7rem;
    max-height: 26.7rem;
  }
  .statistics__card span {
    padding: 2rem;
    top: 0;
    left: 25%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .statistics__card:nth-of-type(1) {
    place-self: start;
  }
  .statistics__card:nth-of-type(3) {
    place-self: end;
  }
}
.banner {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/assets/bg-boost-mobile.svg"), #3a3054;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 1.6rem;
}
.banner h3 {
  color: #fff;
  font-size: 2.8rem;
  line-height: 4.8rem;
  letter-spacing: 0.07rem;
  font-weight: 700;
}
.banner .btn {
  width: 20rem;
  font-size: 2rem;
  line-height: 3rem;
}

@media screen and (min-width: 912px) {
  .banner {
    background: url("/assets/bg-boost-desktop.svg"), #3a3054;
    background-size: cover;
  }
}
.footer {
  background-color: #34313d;
  padding: 7rem 16.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  filter: brightness(100);
  -webkit-filter: brightness(100);
}
.footer__links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3.8rem;
  margin-top: 4.7rem;
}
.footer__links h5 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
  margin-bottom: 2.2rem;
  color: #fff;
}
.footer__links ul {
  list-style: none;
}
.footer__links ul li a {
  text-decoration: none;
  color: #9e9aa8;
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: -0.023rem;
}
.footer__social {
  margin-top: 4.8rem;
  display: flex;
  gap: 2.4rem;
}

@media screen and (min-width: 912px) {
  .footer {
    flex-direction: row;
    align-items: flex-start;
  }
  .footer__links {
    margin-top: 0;
    flex-direction: row;
    text-align: start;
    padding-left: 7vw;
    padding-right: 1vw;
    gap: 2.5vw;
  }
  .footer__links h5 {
    font-size: clamp(1.1rem, 1.3vw, 1.5rem);
  }
  .footer__links ul li a {
    font-size: clamp(1.1rem, 1.2vw, 1.5rem);
  }
  .footer__links ul li a:hover {
    color: #2bd0d0;
  }
  .footer__social {
    margin-top: 0;
    gap: 1.83vw;
  }
}
