* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: $poppins;
}

header {
    position: relative;
    user-select: none;
}

section {
    padding: 0 2.4rem;
    position: relative;
    overflow-x: hidden;
}

@media screen and (min-width: 912px) {
    section {
        margin: auto;
        position: static;
        padding: 0 14vw;
    }
}
