.hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-bottom: 8.8rem;
    &__left {
        width: 100%;
        height: 52%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        & h1 {
            font-size: 4.2rem;
            font-weight: $bold;
            letter-spacing: -0.105rem;
            line-height: 4.8rem;
            margin-top: 3rem;
        }
        & p {
            font-size: 1.8rem;
            line-height: 3rem;
            letter-spacing: 0.012rem;
            font-weight: 500;
            margin: 1.5rem auto 3rem auto;
            text-align: center;
            color: $gray;
        }
        & .btn {
            width: 20rem;
        }
    }
    &__right {
        position: absolute;
        height: 50%;
        width: 51.1rem;
        top: 0;
        right: -14rem;
    }
}

@media screen and (min-width: 612px) {
    .hero {
        &__left {
            height: 40%;
        }
        &__right {
            height: 60%;
            width: 75rem;
        }
    }
}

@media screen and (min-width: 912px) {
    .hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 70vh;
        position: relative;
        &__left {
            height: 100%;
            max-height: 35rem;
            width: 50%;
            max-width: 56.5rem;
            place-items: flex-start;
            & h1 {
                text-align: left;
                font-size: clamp(4.5rem, 5vw, 8rem);
                line-height: 9rem;
                letter-spacing: -0.2rem;
                color: $black;
            }
            & p {
                text-align: left;
                font-size: clamp(1rem, 1.4vw, 2.2rem);
                line-height: 3.6rem;
                letter-spacing: 0.015rem;
            }
            & .btn {
                font-size: 2rem;
                min-height: 5.6rem;
            }
        }
        &__right {
            width: 60vw;
            max-width: 73.3rem;
            height: 50vh;
            max-height: 48.2rem;
            top: 50%;
            transform: translateY(-50%);
            right: -12rem;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
}
