// colors

$black: #34313d;
$darkPurple: #3a3054;
$purple: #4b3f6b;
$gray: #9e9aa8;
$white: #eff1f7;
$cyan: #2bd0d0;
$red: #f46262;

// font
$poppins: "Poppins", sans-serif;
$medium: 500;
$bold: 700;
